<%= form_for(@comment ||= Comment.new, url: @comment.new_record? ? item_comments_path(item_id: item) : item_comment_path(item_id: item), method: "#{@comment.new_record? ? 'post' : 'put'}", remote: true) do |f| %>
  <div class="form-group">
   <%= f.text_area :body, placeholder: "댓글을 입력해주세요.", class: "form-control", id: "input_form" %>
   <%= f.hidden_field :user_id, value: current_user.id %>
   <%= f.hidden_field :item_id, value: item.id %>
  </div>
  <%= f.submit "#{f.object.new_record? ? "등록" : "수정"}", class: "btn btn-outline-danger btn-sm float-right" %>
<% end %>