<div class="comment-children mt-10" id="comment-<%=comment.id%>-children">
  <div class="row mx-1">
    <h6 style="color: navy"><%= comment.user ? User.find_by(id: comment.user_id).name : "탈퇴한 회원" %></h6>
    <small class="text-color-gray ml-2"><%=  pretty_time comment.created_at %></small>
  </div>
  <p class="ml-2 mb-0 mt-2" id="comment-<%= comment.id %>-body"><%= comment.body %></p>
  <div id="button-group-<%= comment.id %>">
    <p class="text-right">
      <%= link_to item_comment_path(item_id: item.id, id:comment.id), remote: true do %>
        <span class="mr-2" id="comment-like">
          <%= render 'comments/likable', like: current_user.likes.find_by(likable_id: comment.id, likable_type: "Comment") ? false : true %>
        </span>
      <%end%>
      <% if current_user.id == comment.user_id %>
        <%= link_to "수정", edit_item_comment_path(item_id: item.id, id: comment.id), remote: true, class: "btn btn-outline-danger btn-sm mb-2" %>
        <%= link_to "삭제", item_comment_path(item_id: item.id, id: comment.id), method: :delete, remote: true, data:{ confirm: "정말로 삭제하시겠습니까?" }, class:"btn btn-outline-danger btn-sm mb-2"%>
      <% end %>
    </p>
  </div>
<hr>
</div>
