<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="fas fa-gem text-danger mt-1" style="font-size: 25px"></i>
  <a class="navbar-brand p-2 text-danger" href="/">Ruby Market</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse container-fluid" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% Category.order(:position).each do |category| %>
        <li class="nav-item active">
         <a class="nav-link text-danger <%= params.dig(:q, :category_id_eq).to_i == category.id ? "active" : "" %>" href="<%= items_path(q: {category_id_eq: category.id}, type: "category") %>"><%= category.title %></a>
        </li>
      <% end %>
    </ul>
     <ul class="navbar-nav">
      <% if current_user %>
        <li class="nav-item dropdown mr-3">
          <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            나의 페이지
          </a>
          <div class="dropdown-menu text-danger" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-danger" href="<%= new_order_path %>">장바구니</a>
            <a class="dropdown-item text-danger" href="<%= items_path(q: {id_in: current_user.likes.where(likable_type: "Item").map(&:likable_id)}, type: "like") %>">찜한 상품</a>
            <a class="dropdown-item text-danger" href="<%= items_path(q: {user_id_eq: current_user.id}, type: "own") %>">내 상품</a>
            <a class="dropdown-item text-danger" href="<%= orders_path %>">내 주문</a>
            <a class="dropdown-item text-danger" href="<%= new_item_path %>">상품 등록</a>
            <a class="dropdown-item text-danger" href="<%= edit_user_registration_path %>">회원정보수정</a>
          </div>
        </li>
        <%= link_to "로그아웃", destroy_user_session_path, method: :delete ,class:"btn btn-danger" %>
      <% else %>
        <%= link_to "회원가입", new_user_registration_path, class:"btn btn-danger mr-2"  %>
        <%= link_to "로그인", new_user_session_path, class:"btn btn-danger"  %>
      <% end %>
    </ul>
  </div>
</nav>