<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= image_tag("/image/ruby.png", size:"20x20") %>
  <a class="navbar-brand p-2" href="/">Ruby Market</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse container-fluid" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% Category.order(:position).each do |category| %>
        <li class="nav-item active">
         <a class="nav-link <%= params[:q].to_i == category.id ? "active" : "" %>" href="<%= items_path(q: category.id, type: "category_id_eq", query: query_string(search: nil, category: category.id, user: nil)) %>"><%= category.title %></a>
        </li>
      <% end %>
    </ul>
     <ul class="navbar-nav">
      <% if current_user %>
        <li class="nav-item dropdown mr-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            나의 페이지
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="<%= new_order_path %>">장바구니</a>
            <a class="dropdown-item" href="#">찜한 상품</a>
            <a class="dropdown-item" href="<%= items_path(q: current_user.id, type: "user_id_eq", query: query_string(search: nil, category: nil, user: current_user.id)) %>">내 상품</a>
            <a class="dropdown-item" href="<%= orders_path %>">내 주문</a>
             <a class="dropdown-item" href="<%= new_item_path %>">상품 등록</a>
            <a class="dropdown-item" href="<%= edit_user_registration_path %>">회원정보수정</a>
          </div>
        </li>
        <%= link_to "로그아웃", destroy_user_session_path, class:"btn btn-danger" %>
      <% else %>
        <%= link_to "회원가입", new_user_registration_path, class:"btn btn-danger mr-2"  %>
        <%= link_to "로그인", new_user_session_path, class:"btn btn-danger"  %>
      <% end %>
    </ul>
  </div>
</nav>