<div class="container my-5">
  <div class="row">
    <%= form_for @order do |f| %>
      <div class="form-group">
        <%= f.label :zipcode %>
        <%= f.text_field :zipcode, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :address1 %>
        <%= f.text_area :address1, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :address2 %>
        <%= f.text_area :address2, class: "form-control" %>
      </div>
      <%= f.submit "주문 완료하기", class: "btn btn-outline-danger" %>
    <% end %>
  </div>
</div>