<div class="container my-5">
  <div class="row">
    <div class="card col-md-6  offset-md-3 p-5">
      <% if item.present? %>
        <%= form_for item do |f| %>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :price %>
            <%= f.text_field :price, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :image %>
            <%= f.file_field :image, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :category_id %>
            <%= f.select :category_id, options_for_select(Category.order(:position).map{|category| [category.title, category.id]}), {}, class: "form-control" %>
          </div>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <!-- 새로운 기록인지 아닌지를 판단하여 등록과 수정을 나눠서 표출가능 -->
          <%= f.submit "#{f.object.new_record? ? '생성' : '수정'}", class: "btn btn-outline-danger float-right" %>
        <% end %>
      <% else %>
        <span class="text-center">권한이 없습니다.</span>
      <% end %>
    </div>
  </div>
</div>